<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if form.instance.pk %}Editar Contenido{% else %}Agregar Contenido{% endif %}</title>


    </style>
    <link rel="stylesheet" href="css.css">
</head>

<body>
    <div class="container">
        <h1>{% if form.instance.pk %}Editar Contenido{% else %}Agregar Contenido{% endif %}</h1>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="btn-container">
                <button type="submit" class="btn">{% if form.instance.pk %}Guardar Cambios{% else %}Agregar{% endif %}</button>
                <a href="{% url 'detalle_materia_admin' materia.id %}" class="btn-cancel">Cancelar</a>
            </div>
        </form>
    </div>
</body>

</html>
